.menu--product-categories .menu--dropdown, .menu--dropdown > li.has-mega-menu .mega-menu {
    max-height: 70vh;
    overflow-x: auto;
}

.menu--product-categories .menu--dropdown::-webkit-scrollbar, .menu--dropdown > li.has-mega-menu .mega-menu::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menu--product-categories .menu--dropdown::-webkit-scrollbar-thumb, .menu--dropdown > li.has-mega-menu .mega-menu::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 10px;
    border: 1px solid #cacaca;
}

.form-group--number-custom {
    max-width: 100px;
}

.form-group--number-custom .form-control {
    height: 25px;
    border-radius: 0; 
    border-color: rgba(0, 0, 0, 0.25);
}

.form-group--number-custom button {
    font-size: 12px;
}

.form-group--number-custom button.up {
    right: 10px;
}

.form-group--number-custom button.down {
    left: 10px;
}

.btn-corpo {
    background-color: #3289c5;
    color: #fff;
}

.btn-corpo:hover {
    background-color: #2c7bb1;
    color: #fff;
}

