.menu--product-categories .menu--dropdown {
    max-height: 100vh;
    overflow-x: auto;
}

.menu--product-categories .menu--dropdown::-webkit-scrollbar, .widget_shop::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menu--product-categories .menu--dropdown::-webkit-scrollbar-thumb, .widget_shop::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 10px;
    border: 1px solid #cacaca;
}