#brands .owl-stage {
    display: flex;
    align-items: center;
}
.red li:nth-of-type(1) {
    background: #FF9326;
}
.yellow li:nth-of-type(2) {
    background: #f8fd00;
}

.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
}
